<h2>Write a Review for <%= @movie.title %></h2>

<%= render 'layouts/form_errors', form_error_object: @review %>
<%= render 'form', movie: @movie, review: @review, submit_button_text:"Submit Review" %>
